.banner{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/photo-1612157777902-5382bc6e864b.jpeg") no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 582px;
}
.fitness{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/photo-1593810450967-f9c42742e326.jpeg") no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 420px;
}
.relax{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/photo-1593810451137-5dc55105dace.jpeg") no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 420px;
}
.sculpture{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/photo-1599901860904-17e6ed7083a0.jpeg") no-repeat;
  background-size: cover;
  background-position: bottom center;
  //height: 420px;
  height: 210px;
  @media(min-width: 345px){
    height: 420px;
  }
}
.space-yoga{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/carl-barcelo-nqUHQkuVj3c-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 444px;
}
.space-syoga{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/carl-barcelo-nqUHQkuVj3c-unsplash.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 210px;
}
.space-relax{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/white round table near brown wooden chair.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 207px;
}
.space-sport{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/woman in black sports bra and blue denim jeans doing yoga.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  height: 207px;
}
.course-first{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/woman doing yoga beside wall.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.course-sec{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/photo-1593810450967-f9c42742e326.jpeg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.course-three{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/woman in black sports bra and black leggings doing yoga.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.course-four{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/woman in white tank top and white leggings bending her body.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.course-five{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/woman performing yoga.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.course-six{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/woman doing yoga.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}
.user-first{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/user-1.png") no-repeat;
  background-size: cover;
  background-position: center center;
}
.user-sec{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/user-2.png") no-repeat;
  background-size: cover;
  background-position: center center;
}
.user-three{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/user-3.png") no-repeat;
  background-size: cover;
  background-position: center center;
}
.user-four{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/user-4.png") no-repeat;
  background-size: cover;
  background-position: center center;
}
.user-five{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/user-5.png") no-repeat;
  background-size: cover;
  background-position: center center;
}
.user-six{
  background: url("https://hexschool.github.io/webLayoutTraining1st/yoga-week8/uset-6.png") no-repeat;
  background-size: cover;
  background-position: center center;
}