<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/bootstrap.css">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="bg-light py-4 position-relative">
      <div class="container-lg">
          <ul class="list-unstyled d-lg-flex justify-content-lg-between align-items-center">
            <li class="d-flex justify-content-between align-items-center">
              <a href="index.html">
                <img class="w-96 h-31" src="./assets/images/DOYOGA-logo.png" alt="DOYOGA-logo">
              </a>
              <nav class="navbar navbar-light bg-light d-block d-lg-none">
                <div class="container-xl d-flex flex-row-reverse">
                  <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
              </nav>
            </li>
            <li class="d-lg-flex d-lg-block d-none">
              <a class="ms-lg-6 text-dark fs-lg-6" href="yogacourse.html">課程介紹</a>
              <a class="ms-lg-6 text-dark fs-lg-6" href="yogaspace.html">瑜珈空間</a>
              <a class="ms-lg-6 text-dark fs-lg-6" href="yogasubject.html">當月課表</a>
            </li>
            <li>
              <div class="d-grid gap-2 d-lg-flex d-lg-block d-none">
                <a href="order.html">
                  <button class="btn border-primary rounded rounded-3 text-primary fs-lg-6" type="button">立即預約</button>
                </a>
                <a href="contact.html">
                  <button class="btn border-primary  rounded rounded-3 text-primary fs-lg-6" type="button">聯絡我們</button>
                </a>
              </div>
            </li>
          </ul>
      </div>
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-light p-4 text-center border border-secondary">
          <a class="ms-lg-6 text-dark fs-lg-6 mb-2" href="yogacourse.html">課程介紹</a>
          <a class="ms-lg-6 text-dark fs-lg-6 mb-2" href="yogaspace.html">瑜珈空間</a>
          <a class="ms-lg-6 text-dark fs-lg-6 mb-2" href="yogasubject.html">當月課表</a>
          <div class="d-grid gap-2 d-flex justify-content-center">
            <a href="order.html">
              <button class="btn border-primary rounded rounded-3 text-primary fs-lg-6" type="button">立即預約</button>
            </a>
            <a href="contact.html">
              <button class="btn border-primary  rounded rounded-3 text-primary fs-lg-6" type="button">聯絡我們</button>
            </a>
          </div>
        </div>
      </div>
      <div class="d-lg-flex flex-lg-column position-fixed top-50 end-0 translate-middle-y me-lg-3 d-lg-block d-none">
        <img class="rounded-circle my-lg-2 bg-primary" src="https://hexschool.github.io/webLayoutTraining1st/week1/facebook.svg" alt="facebook">
        <img class="rounded-circle my-lg-2 bg-primary" src="https://hexschool.github.io/webLayoutTraining1st/week1/instagram-alt.svg" alt="instagram">
        <img class="rounded-circle my-lg-2 bg-primary" src="https://hexschool.github.io/webLayoutTraining1st/week1/line.svg" alt="line">
    </div>
    </header>

    <%- contents %>

    <footer class="bg-primary">
      <div class="container-lg">
        <div class="row d-lg-flex flex-lg-row flex-column align-items-center py-5">
          <div class="col-lg-4 col-12 mb-2">
            <h2 class="fs-lg-2 fs-3 text-white">
              現在訂閱，獲得課程優惠碼！
            </h2>
          </div>
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <div class="input-group mb-3 fs-4">
              <input type="text" class="form-control text-primary" placeholder="輸入您的電子信箱" aria-label="輸入您的電子信箱" aria-describedby="button-addon2">
              <button class="btn btn-secondary text-white" type="button" id="button-addon2">訂閱</button>
            </div>
          </div>
        </div>
      </div>
      <div class="border-bottom border-white"></div>
      <div class="container-lg py-5">
        <div class="d-flex justify-content-between">
          <ul class="list-unstyled">
            <li class="my-2">
              <a href="index.html">
                <img class="w-96 h-31" src="./assets/images/DOYOGA-logo.png" alt="DOYOGA-logo">
              </a>
            </li>
            <li class="my-2">
              <a class="text-white fs-5 mb-2" href="yogacourse.html">課程介紹</a>
            </li>
            <li class="my-2">
              <a class="text-white fs-5 mb-2" href="yogaspace.html">瑜珈空間</a>
            </li>
            <li class="my-2">
              <a class="text-white fs-5 mb-2" href="yogasubject.html">當月課表</a>
            </li>
            <li class="text-white fs-5 d-lg-none d-block">© 2021. All Rights Reserved.</li>
          </ul> 
          <div class="text-white fs-5 d-lg-block d-none align-self-lg-end">© 2021. All Rights Reserved.</div>
          <div>
            <img class="rounded-circle" src="https://hexschool.github.io/webLayoutTraining1st/week1/facebook.svg" alt="facebook">
            <img src="https://hexschool.github.io/webLayoutTraining1st/week1/instagram-alt.svg" alt="instagram">
            <img src="https://hexschool.github.io/webLayoutTraining1st/week1/line.svg" alt="line">
          </div>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
      // Global settings:
      disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
      startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
      initClassName: 'aos-init', // class applied after initialization
      animatedClassName: 'aos-animate', // class applied on animation
      useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
      disableMutationObserver: false, // disables automatic mutations' detections (advanced)
      debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
      throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)
      

      // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
      offset: 120, // offset (in px) from the original trigger point
      delay: 0, // values from 0 to 3000, with step 50ms
      duration: 600, // values from 0 to 3000, with step 50ms
      easing: 'ease', // default easing for AOS animations
      once: true, // whether animation should happen only once - while scrolling down
      mirror: false, // whether elements should animate out while scrolling past them
      anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation

});
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      (function(d) {
        var config = {
          kitId: 'dcw7jfe',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>