img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration:none;
    display: block;
}
*,*::before,*::after{
    box-sizing: border-box;
}
ul,li,h1,h2,h3,h4,h5,h6,p{
    margin: 0px 0px;
    padding: 0px 0px;
}
.row{
    margin: 0px 0px;
    padding: 0px 0px;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}
.text-hidden{
    text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}
.h-100{
    height: 100%;
}
.h-786{
    height: 786px;
}
.h-210{
    height: 210px;
}
.h-165{
    height: 165px;
}
.h-238{
    height: 238px;
}
.user-w-h-60{
    width: 60px;
    height: 60px;
}
.course-w-h-150{
    width: 150px;
    height: 150px;
}

.h-sm-238{
    @media(min-width: 345px){
        height: 238px;
    }
}
.h-md-150{
    @media(min-width: 768px){
        height: 150px;
    }
}
.h-md-444{
    @media(min-width: 768px){
        height: 444px;
    }
}
.ms-md-30{
    @media(min-width: 768px){
        margin-left: 30px;
    }
}
.mb-md-30{
    @media(min-width: 768px){
        margin-bottom: 30px;
    }
}
.mb-md-64{
    @media(min-width: 768px){
        margin-bottom: 64px;
    }
    
}
.py-md-64{
    @media(min-width: 768px){
        padding-top: 64px;
        padding-bottom: 64px;
    }
}
.pb-md-64{
    @media(min-width: 768px){
        padding-bottom: 64px;
    }
}
.py-sm-56{
    @media(min-width: 345px){
        padding-top: 56px;
        padding-bottom: 56px;
    }
}
.pb-sm-56{
    @media(min-width: 345px){
        padding-bottom: 56px;
    }
}
.pe-md-57{
    @media(min-width: 768px){
        padding-right: 57px;
    }
}
.py-14{
    padding: 14px 0px;
}
.ps-6{
    padding-left: 6px;
}
.w-350{
    width: 350px;
}

// 精心設計、課程多元
// .h-150{
//     height: 150px;
//     @include media-breakpoint-up(xs) {
//         .h-xs-165{
//             height: 165px;
//         }
//     }
//     @include media-breakpoint-up(md) {
//         .h-sm-445{
//             height: 445px;
//         }
//     }
// }