$utilities: (
    "width": (
        property: width,
        class: w,
        responsive: true,
        values: (
            25: 25%,
            30: 30%,
            50: 50%,
            75: 75%,
            100: 100%,
            auto: auto,
            36:36px,
            56:56px,
            150:150px,
            165:165px,
            210:210px,
            255:255px,
            330:330px,
            445:445px
        )
    ),
    "height": (
        property: height,
        class: h,
        responsive: true,
        values: (
            25: 25%,
            50: 50%,
            75: 75%,
            100: 100%,
            auto: auto,
            36:36px,
            196:196px,
            150:150px,
            161:161px,
            214:214px,
            238:238px,
            165:165px,
            195:195px,
            210:210px,
            215:215px,
            216:216px,
            323:323px,
            350:350px,
            360:360px,
            445:445px,
            628:628px
        )
    ),
    "margin-x": (
        responsive: true,
        property: margin-right margin-left,
        class: mx,
        values: map-merge($spacers, 
            (
                auto: auto,
                15:15px,
                30:30px
            )
        )
    ),
    "margin-top": (
        responsive: true,
        property: margin-top,
        class: mt,
        values: map-merge($spacers, 
            (
                auto: auto,
                64:64px
            )
        )
    ),
    "margin-bottom": (
        responsive: true,
        property: margin-bottom,
        class: mb,
        values: map-merge($spacers, 
            (
                auto: auto,
                12:12px,
                72:72px,
                80:80px,
                88:88px,
                104:104px,
                110:110px
            )
        )
    ),
    // "padding-x": (
    //     responsive: true,
    //     property: padding-right padding-left,
    //     class: px,
    //     values:
    //     (
    //         6:6px
    //     )
    // ),
    "padding-y": (
        responsive: true,
        property: padding-top padding-bottom,
        class: py,
        values:
        (
            12:12px
        )
    ),
    "padding-bottom": (
        responsive: true,
        property: padding-bottom,
        class: pb,
        values:
        (
            52:52px,
            56:56px,
            64:64px
        )
    ),
    "overflow": (
        responsive: true,
        property: overflow-y,
        class: overflow-y,
        values: auto hidden visible scroll,
    ),
    "font-size": (
        responsive: true,
        rfs: true,
        property: font-size,
        class: fs,
        values: (
            32:32px
        )
    ),
);